*.backup
*__pycache__/
*./scripts/README.md/
archive/
*.scripts/pdf_extractor.py/
*.scripts/col_config.py/
*.test/test_column_mapper.py/
*.test/test_pdf_excractor_advanced.py/
*.test/test_pdf_extractor.py/