# Backups
*.backup

# Carpetas de Python
__pycache__/
*.pyc

# Carpeta de archivos archivados
archive/

# Archivos específicos
scripts/pdf_extractor.py
scripts/col_config.py

test/test_column_mapper.py
test/test_pdf_excractor_advanced.py
test/test_pdf_extractor.py
